/**
 ** Hat tip to http://www.designcouch.com/demos/pure-css-ribbon-banner.html
 **
*/ 

.post-type-archive-yogg_work {

	header {
		position: relative;
	}

	.entry-title {
		position: absolute;
		left: 10px;
		overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
		font-size: 1rem; /* font-size and line-height must be equal so we can account for the height of the banner */
		line-height: 1rem;

		a {
			display:block;
			padding:2rem 1rem 3rem 1rem;
			position:relative; /* allows us to position our pseudo-elements properly */
			background:$secondary;
			overflow:visible;
			width:100px;
			margin-bottom:29px;
			color:$primary;
			text-decoration:none;

			&:before {
				content:"";
				height: 0;
				width: 0;
				display:block;
				position:absolute;
				bottom:-20px;
				width:0px;
				left:0;
				border-left: 50px solid $secondary; 
				border-right: 50px solid $secondary; 
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;			
			}

			&:hover {
				background:$lightPrimary;
			}

			&:hover:before {
				border-left: 50px solid $lightPrimary; 
				border-right: 50px solid $lightPrimary; 
			}
		}
	}
}
