footer {
	text-align:center;
	background:$black;
	color:$white;
	@include pie-clearfix;

	.wrap {
		@include container($max-container-width);		
	}

	a {
		color:$white;
	}

	.creds {
		@extend .zeta;
		padding:0 1rem;
	}

	nav {
		margin:0 auto;
		padding:2rem 0;
		@include pie-clearfix;

		ul {

			li {
				padding:0 1rem;
				display:inline-block;
			}			
		}

		&.social-nav {
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
		}		
	}
}