footer {
	text-align:center;
	background:$black;
	color:$white;
	@include pie-clearfix;

	.wrap {
		@include container($max-container-width);		

		.creds {
			display:inline-block;

			@include breakpoint($county) {
				display:inline;
			}

		}
	}

	a {
		color:$white;
	}

	p {
		padding: 2rem 0 0.5rem 0;
		margin:0;
		@extend .zeta;		
	}

	nav {
		margin:0 auto;
		padding:2rem 0 ;
		@include pie-clearfix;

		ul {

			li {
				padding:1rem 0;
				display:block;

				@include breakpoint($county) {
					padding:0 1rem;
					display:inline;
				}

			}			
		}

		&.social-nav {
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
		}		
	}
}