%formaga,
#formaga {
	clear:both;
	background:$tertiary;
	@include pie-clearfix;
}


#formaga-top {
	@include container($max-container-width);
	@include pie-clearfix;


	h2 {
		@extend .epsilon;
	}		

	>div {
		text-align:center;
		@include span(5 of 10);

		@include breakpoint($country) {
			@include span(2 of 10);
		}
		
	}
}


#formaga-bottom {
	padding: 0 0 3rem 0;
	@include container($max-container-width);		
	@include pie-clearfix;

	h3 {
		color: $primary;
		padding:2rem 0;
		@extend .beta;			
	}

	>div {
		text-align:center;
		@include span(isolate 8 at 3);
	}		
}



body.page-template-page-templatespage-formaga-php {

	main {
		background:$tertiary;

		> article > header {
			background: $white;
		}
	}


	.entry-content {

		@include container($max-container-width);		

		@include breakpoint($municipality) {
			padding:0em 1.5em;
		}					
		@include breakpoint($county) {
			padding:0em 3em;
		}			
		@include breakpoint($country) {
			padding:0em 6em;
		}
		@include breakpoint($continent) {
			padding:0em 12em;
		}			
		
	}
	
}


body.home {

	#formaga-top {
		padding:3rem 0;
		
		>div {

			&:last-child {
				float:none;
				margin:0 auto;

				@include breakpoint($country) {
					float:left;
					margin:0 1% ;
				}

			}
		}
	}	

}