#subst-header {
	position: relative;

	img {
		width:100%;
		height:auto;
	}

	h2 {
		text-align:center;
		position:absolute;
		top:45%;
		width:100%;
		color:$white;
	}
}


%formaga,
#formaga {
	clear:both;
	background:$tertiary;
	padding:3rem 0;
	@include pie-clearfix;

	#formaga-top {
		@include container(10);	
		@include pie-clearfix;

		h2 {
			@extend .epsilon;
		}		

		>div {
			text-align:center;
			@include span(2 of 10);
		}
	}

	#formaga-bottom {
		@include pie-clearfix;

		h3 {
			color: $primary;
			padding:2rem 0;
			@extend .beta;			
		}

		>div {
			text-align:center;
			@include span(isolate 8 at 3);
		}		
	}
}