header.site-header {
	height:3.5rem;
	background: $primary;
	color:$white;
	padding:1rem 1.5rem;
	position: relative;
	z-index:20;
	line-height:1rem;

	a {
		color:$white;
	}

	.title-area {
		width:6rem;
		float:left;
	}	

	.site-title {
		margin:0;
		background-image: inline-image('yogg-logo.svg');
		background-repeat: no-repeat;
	  background-size: contain;		

		a {
			text-transform: lowercase;
			text-indent: -9999px;
			line-height: 2rem;
			display:block;
		}
	}

	#header-meta {
		float:right;

		a {
			display: inline-block;
			position:relative;
			text-indent: -9999px;
			min-height:2rem;
			min-width:2rem;
			top:-0.75rem;
			margin-right:2rem;
		}

		a[itemprop="telephone"] {
			background-image: inline-image('phone.svg');
			background-repeat: no-repeat;
		  background-size: contain;
		  background-position: center;

			@include breakpoint($county) {
				top:0rem;
				text-indent: 0px;
				background-image: none;
			}		
		}

		a[itemprop="email"] {	
			color:$secondary;
			background-image: inline-image('envelope.svg');
			background-repeat: no-repeat;
		  background-size: contain;
		  background-position: center;

			@include breakpoint($county) {
				top:0rem;
				text-indent: 0px;
				background-image: none;
			}	
		}			

		#hamburger {
			display:inline-block;
		  position: relative;
		  width: 2.5rem;
		  height:1.3rem;
		  top:-0.5rem;
		  cursor: pointer;

		  &:before {
			  content: "";
			  position: absolute;
			  top: 0.25rem;
			  left: 0;
			  width: 2.5rem;
			  height: 0.370rem;
			  border-top: 1.125rem double $white;
			  border-bottom: 0.4rem solid $white;	  	
		  }
		}
	}
}


// Fallbacks
.no-svg {

	header.site-header {

		.site-title {
			background-image: url('images/yogg-logo.png');
			background-repeat: no-repeat;
		  background-size: contain;
		}

		#header-meta {

			a[itemprop="telephone"] {
				background-image: url('images/phone.png');
				background-repeat: no-repeat;
			  background-size: contain;
			}

			a[itemprop="email"] {
				background-image: url('images/envelope.png');
				background-repeat: no-repeat;
			  background-size: contain;
			}	
		}	
	}
}

