.site-title {
	background-image: inline-image('yogg-logo.svg');
	background-repeat: no-repeat;
  background-size: contain;
}

.no-svg .site-title {
	background-image: url('images/yogg-logo.png');
	background-repeat: no-repeat;
  background-size: contain;
}

header.site-header {
	height:3.5rem;
	background: $primary;
	color:$white;
	padding:1rem 1.5rem;
	position: relative;
	z-index:2;
	line-height:1rem;

	a {
		color:$white;
	}

	.title-area {
		width:5%;
		float:left;
	}	

	.site-title {

		a {
			text-transform: lowercase;
			text-indent: -999px;
			line-height: 2rem;
			display:block;
		}
	}



	#header-meta {
		float:right;

		a {
			color: $secondary;
			padding:0 0.5rem;
		}

		span {
			display: inline-block;
		}

		#hamburger {
		  position: relative;
		  padding-left: 1.25rem;	
		  width: 2.5rem;
		  height:1.3rem;
		  top:-0.5rem;
		  cursor: pointer;


		  &:before {
			  content: "";
			  position: absolute;
			  top: 0.25rem;
			  left: 0;
			  width: 2.5rem;
			  height: 0.370rem;
			  border-top: 1.125rem double $white;
			  border-bottom: 0.4rem solid $white;	  	
		  }
		}
	}
}

nav.top-nav {

	$nav-initial-position: -250px;

	@include keyframes(open) {
	    from { @include transform(translate(0, $nav-initial-position)); }
	    to { @include transform(translate(0, 0)); }
	}

	@include keyframes(close) {
	    from { @include transform(translate(0, 0)); }
	    to { @include transform(translate(0, $nav-initial-position)); }
	}

	background:$lightPrimary;
	padding:1em 1em 0em 1em;
	z-index: 1;
	position: absolute;
	width:100%;
	@include translate(0, $nav-initial-position);
	@include container;
	@include pie-clearfix();

	&.open {
    @include animation(open 0.5s ease-in-out);
	}

	&.opened {
		@include transform(translate(0, 0));
	}

	&.close {
    @include animation(close 0.5s ease-in-out);
	}

	form {
		background: $overlay;
		letter-spacing: .1rem;
		display:table;
		padding:0 0.5rem 0 0;
		font-size: 1.2rem;

		span,
		label,
		input {
			display: table-cell;
			vertical-align: middle;
			padding:0 0.5rem;
			border:none;
		}

		input {
			height:2rem;
			@include border-radius();

			&[type="submit"] {
				font-family: $font-normal;	
				text-transform: uppercase;
				background: $primary;
				height:2.2rem;
				color: $secondary;
				letter-spacing: .1rem;
				position: relative;
				top: 9px;
				@include border-radius(2px);

			}
		}

		#telegraph-sounder {		
			font-family: $font-bold;	
			background:$black;
			color:$white;
			width:100%;
			text-align: center;
		}	
	}

	ul.menu {
		@include pie-clearfix;


		>li {
			border-right:1px solid $primary;
			min-height: 180px;
			padding-top:1rem;
			padding-bottom: 0.3rem;
			@include span(2);
			@include pie-clearfix;

			&:last-child {		
				border-right:none;
			}


			li {
				float:none;
				width:100%;
				border-right:none;
				padding:0.3rem 0;
			}
		}		
	}
}