header.site-header {
	height:4rem;
	background: $primary;
	color:$white;
	padding:1.5rem;

	a {
		color:$white;
	}
}

nav.top-nav {
	background:$lightPrimary;
	padding:1em 1em 0em 1em;
	@include pie-clearfix();

	form {
		background: $overlay;

		span#telegraph-sounder {			
			background:$black;
			color:$white;
		}	
	}

	ul.menu {
		@include pie-clearfix;


		>li {
			border-right:1px solid $primary;
			min-height: 100px;
			@include span(2);
			@include pie-clearfix;

			&:last-child {		
				border-right:none;
			}


			li {
				float:none;
				width:100%;
				border-right:none;
			}

		}		

	}


}
