.middle-nav {
	clear:both;
	padding:1.5rem;	
	line-height: 1;
	@include container;
	@include pie-clearfix;

	ul {
	  position: relative;
		@include pie-clearfix;
		@include container($max-container-width);
		@include breakpoint($country) {
		  @include display-flex;
		  @include flex-direction(row);
		  @include flex-wrap(wrap);
		  @include align-items(center);
		}		

		li {
			text-align:center;
			border-bottom: 1px solid $tertiary;
			padding:1rem 0;
			@include flex-grow(1);
			@include breakpoint($country) {
				border-right: 1px solid $tertiary;
				border-bottom: none;
			}		

			a {
				@extend .delta;
			}	

			&.current_page_item a {
				color:$gray;
				font-style: italic;
			}					
			
			&:last-child {		
				border-right:none;
				border-bottom:none;
			}		

		}
	}
}