body.single-post {

	section {
		position:relative;
		text-align:center;

		>h2 {
			padding:1rem 3rem;
			
			@include breakpoint($county) {			
				padding:3rem;
			}
		}
		
		>a {

			@include breakpoint($county) {
				position: absolute;
				top:45%;
				right:5%;
			}				

		}
	}

	.site-inner {
		background: $tertiary;
		padding:3rem 0.5rem;

		@include breakpoint($county) {
			padding:3rem;
		}

		main {
			background: $white;
			@include container($max-container-width);
			

			.entry-title,
			.entry-content,
			.entry-footer {
				padding:1rem 0.5rem;

				@include breakpoint($county) {
					padding:1rem 3rem;
				}				
			}

			footer {
				text-align:left;
				background:$lightGray;
				color:$gray;

				time {
					display:block;
				}

				a {
					color: $primary;
				}
			}
		}
	}
}