nav.top-nav {

	$nav-initial-position: -1050px;
	background:$lightPrimary;
	padding:1rem 1rem 0rem 1rem;
	z-index: 11;
	position: absolute;
	width:100%;


	@include keyframes(open) {
    from { @include transform3d(translate(0, $nav-initial-position)); }
    to { @include transform3d(translate(0, 0)); }
	}

	@include keyframes(close) {
    from { @include transform3d(translate(0, 0)); }
    to { @include transform3d(translate(0, $nav-initial-position)); }
	}

	@include translate(0, $nav-initial-position);
	@include container;
	@include pie-clearfix();

	&.open {
    @include animation(open 0.5s ease-in-out);
	}

	&.opened {
		@include transform3d(translate(0, 0));
	}

	&.close {
    @include animation(close 0.5s ease-in-out);
	}

	form {
		background: $overlay;
		letter-spacing: 0.1rem;
		padding:0 0.5rem 0 0;
		display:none;
		@include container($max-container-width);

		@include breakpoint($county) {
			display:table;
			height:50px;
		}

		img.ajax-loader {
			width:16px;
			height:16px;
			display:none;
		}


		#telegraph-sounder {		
			font-family: $font-bold;	
			background:$black;
			color:$white;
			text-align: center;
			display:table-caption;
			width:100%;
			margin:0 auto 0.5rem auto;

			@include breakpoint($continent) {
				display:table-cell;
				margin:0 auto;
				width:auto;
				padding:0.5rem 0;
				vertical-align: middle;
				width:15%;
			}			
		}	

		#telegraph-message {
			width:90%;
			display:table-cell;
			vertical-align: middle;

			@include breakpoint($continent) {
				width:80%;
			}					

			label,
			span {
				display: table-cell;
				padding:0 1rem;
				vertical-align: middle;
			}

			label {
				width:8%;
			}

			span {
				width:25%;
				@include transition-property(width);
				@include transition-duration(0.6s);
				@include transition-timing-function(ease-in);				

				&.active {
					width:40%;
				}

				&.inactive {
					width:10%;
				}				
			}

			input {
				border:none;
				height:36px;
				width:100%;
				@include border-radius();			
			}		
		}

		input[type="submit"] {
			display:table-cell;
			vertical-align: middle;
			font-family: $font-normal;	
			text-transform: uppercase;
			background: $primary;
			height:36px;
			color: $secondary;
			letter-spacing: .1rem;
			text-align:center;
			position: relative;
			top:5px; 
			border:none;
			padding:0 1rem;
			font-size: 1rem;

			@include border-radius();
		}
	}
	

	ul.menu {
		@include container($max-container-width);	
		@include pie-clearfix;

		>li {
			border-bottom:1px solid $overlay;
			padding-top:1rem;
			padding-bottom: 1rem;

			@include breakpoint($county) {
				border-right:1px solid $primary;
				min-height: 260px;
				padding-top:1rem;
				padding-bottom: 0.3rem;
				@include span(2);
			}

			&:last-child {		
				border-right:none;
			}

			li {
				float:none;
				width:100%;
				border-right:none;
				padding:0.3rem 0; 


			}
		}		
	}
}