/**
 ** Variable declarations for the Yogg WordPress Theme
 **
**/ 

//COLORS
$black: rgba(65,64,66,1);
$green: rgba(0,140,159,1);
$lightGreen: rgba(232,244,246,1);
$yellow: rgba(245,237,96,1);
$beige: rgba(240,234,216,1);
$white: rgba(255,255,255,1);
