.vargangrepp {
		clear:both;
		background:$primary;
		color: $white;
		text-align:center;
		padding:3rem;
		@include container;
		@include pie-clearfix;

		p {
			margin:0 auto;
			width:75%;
		}

		a {
			color:$white;
		}
}