.single-yogg_work {

	article {

		header {
			text-align:center;
			@include container($max-container-width);


			h1 {
				padding:2rem;
				@extend .gamma;
			}
		}

		.gallery {
			@include span(12);
			@include breakpoint($country) {
				@include span(8);
			}
		}

		.wrap {
			background:$tertiary;

			.entry-content {
				@include container($max-container-width);
				//@include span(12 last);

			}
		}

		&.has-gallery {
			.entry-content {
				@include span(12);
				@include breakpoint($country) {
					@include span(4 last);
				}				
			}
		}

		footer {
			clear:both;
			background:none;

			.page-navigation {
				padding:3rem 0;
				@include span(4);
				@include push(4);

				a {
					color:$primary;
					background: $secondary;
					display:block;
					height:8rem;

					span {
						@extend .beta;
					}

					p {
						@extend .epsilon;
					}

					&.link-next {
						@include span(5 last);
					}

					&.link-previous {
						@include span(5 first);
					}					
					
				}

			}
		}
	}
}