.post-type-archive-yogg_work {

	h1 {
		text-align: center;
		padding:1.5rem 0;		
		clear:both;
		@extend .beta;
	}

	.site-inner {
		background:$tertiary;

		main {
			padding:1rem;
			@include container($max-container-width);
			@include pie-clearfix;


			article {
				margin-bottom:0.8333%;
				position: relative;
				@include span(6);

				@include breakpoint($country) {
					@include span(3);
				}				

				header {
					position: absolute;
					width:30%;
				}

				.entry-title {
					position: relative;
					left:10px;
					min-width: 100px;
				  min-height: 200px;
				  text-align: center;
					background-image: inline-image('yogg-banner.svg');
					background-repeat: no-repeat;	
					max-width:80%;


					a {
						display: inline-block;
					  margin-top: 1rem;
						@extend .zeta;
					}
				}
			}		


			/**
			 ** Hat tip to http://www.designcouch.com/demos/pure-css-ribbon-banner.html
			 **
			*/ 















			// .entry-title {
			// 	position: absolute;
			// 	left: 10px;
			// 	overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
			// 	font-size: 1rem; /* font-size and line-height must be equal so we can account for the height of the banner */
			// 	line-height: 1rem;

			// 	a {
			// 		display:block;
			// 		padding:2rem 1rem 3rem 1rem;
			// 		position:relative; /* allows us to position our pseudo-elements properly */
			// 		background:$secondary;
			// 		overflow:visible;
			// 		width:100px;
			// 		margin-bottom:29px;
			// 		color:$primary;
			// 		text-decoration:none;

			// 		&:before {
			// 			content:"";
			// 			height: 0;
			// 			width: 0;
			// 			display:block;
			// 			position:absolute;
			// 			bottom:-20px;
			// 			width:0px;
			// 			left:0;
			// 			border-left: 50px solid $secondary; 
			// 			border-right: 50px solid $secondary; 
			// 			border-top: 20px solid transparent;
			// 			border-bottom: 20px solid transparent;			
			// 		}

			// 		&:hover {
			// 			background:$lightPrimary;
			// 		}

			// 		&:hover:before {
			// 			border-left: 50px solid $lightPrimary; 
			// 			border-right: 50px solid $lightPrimary; 
			// 		}
			// 	}
			// }
		}
	}
}