.post-type-archive-yogg_work {

	h1 {
		text-align: center;
		padding:1.5rem 0;		
		clear:both;
		@extend .beta;
	}

	.site-inner {
		background:$tertiary;

		main {
			padding:1rem;
			@include container($max-container-width);
			@include pie-clearfix;


			article {
				margin-bottom:0.8333%;
				position: relative;
				@include span(12);

				@include breakpoint($municipality) {
					@include span(6);
				}		
				@include breakpoint($country) {
					@include span(3);
				}				

				header {
					position: absolute;
					width:30%;
				}

				.entry-title {
					position: relative;
					left:10px;
					min-width: 100px;
				  min-height: 200px;
				  text-align: center;
					background-image: inline-image('yogg-banner.svg');
					background-repeat: no-repeat;	
					max-width:80%;


					a {
						display: inline-block;
					  margin-top: 1rem;
						@extend .zeta;
					}
				}
			}		
		}
	}
}