#yoggernauts-widget	{
	padding:0 1rem;
	@include container($max-container-width);


	aside {
		background: $white;
		margin-bottom: 2rem;

		@include breakpoint($county) {
			@include span(4 narrow first);

			&:nth-of-type(3n+1) {
				clear:left;
			}
		}			

		img {
			width:100%;
			height:auto;
		}

		h2,
		h3 {
			padding:0 2rem;
		}

		>p,
		>a {
			padding:0 2rem;
		}

		p + p {
			text-indent: 0;
		}
	}
}


body.page-template-page-templatespage-subst-yoggernauts-php {

	.site-inner {
		padding:3rem 0;
		background: $tertiary;
	}
	
}