body.page-id-31 {

	article {

		header {

			h1 {
				text-align:center;
				padding:3rem 0;
				text-transform: capitalize;
			}
		}
	}

	.entry-content {
		//@extend %formaga;


		#formaga-top {
			@include container(10);	
			
			>div {
				text-align:center;
				@include span(10);
				@include breakpoint($county) {
					@include span(5);
				}				
				@include breakpoint($country) {
					@include span(2);
				}
				
			}			
		}

	}	
}


.parent-pageid-31 {

	.middle-nav {

		li {
			@include span(2);
		}
	}
}